/* css style */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.header {
    background-color: bisque;
    text-align: center;
    padding: 20px;
    margin: 0px;
    }

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    }

.nav-menu {
    float: left;
}

.nav-links {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    
}


p,
li {
    font-size: 20px;
    text-align: justify;
}

.ingredients {
    border-style: solid;
    margin-bottom: 20px;
}

.h2 {
    text-align: center;
}

.recipe-image {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.img-home {
    height: auto;
    width: 600px
}